.list-body {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background-color: #dee2e6;
  padding: 20px;
  h2 {
    text-align: center;
    color: rgb(36, 31, 31);
    span {
      color: rgb(46, 13, 194);
    }
  }
}
.list-meals-body {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.cart-list-item {
  background-color: #edf6f9;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 6px 8px #f8f9fa;
  margin: 15px;
  transition: all 0.4s ease;
  h2 {
    color: black;
  }
}
.cart-list-item:hover {
  transform: scale(1.1);
}
.list-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 3px;
  }
  a {
    border: 1px solid #6930c3;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    background-color: #006d77;
    color: #fff;
  }
}

@media screen and(max-width:500px) {
}
